{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-3">Product</h1>

    <table class="table table-dark table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }} $</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{ asset('pictures/' ~ product.imageName) }}" class="w-50" alt="..."></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ product.date ? product.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ product.categorie }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.fkStatus.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_index') }}" class="btn btn-secondary my-3">back to list</a>
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-warning">edit</a>

    {{ include('product/_delete_form.html.twig') }}
    {% elseif is_granted("ROLE_USER") %}
    
    {% else %}
  
    {% endif %}
   
</div>
{% endblock %}